# Contoh env untuk di server (digunakan oleh docker-compose)

# Database (postgres)
PGUSER=
PGPASSWORD=
PGDATABASE=

# REDIS
REDIS_SECRET=

# Backend Settings
JWT_SECRET=
APP_ENV=        # production | development

# Docker image tags (optional) - default latest dengan sendirinya
BACKEND_IMAGE_TAG=